@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./style/bootstrap.scss";

:root {
  --bg-color: #eeebe2;
  --main-color: #080909;
  --caret-color: #644081;
  --sub-color: #a15caf;
  --text-color: #080909;
  --error-color: #e98449;
  --colorful-error-color: #ee0d2b;
  --colorful-error-extra-color: #ff1c73;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

input, button, submit { border:none; } 

a.button {
  border-radius: 0px;
  padding: 5px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  transform: skewX(-15deg);
  background-color: #1d0e3d;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--bg-color);
  text-decoration: none;
}

a.button:hover, a.button:focus, a.button:active {
  color: var(--caret-color);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: var(--caret-color);
}

a:hover {
    color: var(--main-color);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.7rem;
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
h5 {
  font-size: 1.3rem;
  font-weight: 500;
}
h6 {
  font-size: 1rem;
  font-weight: 500;
}

* {
  @apply select-none;
}

.text-render {
  @apply select-text;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}

::-moz-selection {
  color: var(--bg-color);
  background: var(--caret-color);
}

::selection {
  color: var(--bg-color);
  background: var(--caret-color);
}


  .markdown-body h1 strong{
    color: var(--main-alpha);
  }
  .markdown-body h1{
    padding-bottom: 5rem;
  }
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
    padding: 45px 0;
    blockquote{
      margin-top: 2rem;
      background-color: rgba(0,0,0,0.05);
      padding: 0.6rem 1rem;
      border-left: solid 2px #6c6c6c;
      padding-left: 1rem;
    }
    h2{
      border-bottom: solid 1px #a0a0a0;
      padding-bottom: 1rem;
      margin-bottom: 3.2rem;
    }
	}
  .markdown-body ul:first-of-type{
    padding: 2rem;
    list-style: none;
    li a{
      transition: all 0.2s ease;
    }
    li a:hover{
      color: var(--main-alpha);
    }
  }

  .markdown-body details ul:first-of-type{
    list-style: initial !important;
  }

  .markdown-body ul{
    list-style-type: initial;
    padding-left: 3rem;
  }


  details{
    padding: 0.2rem 6rem;
  }
  details summary{
    margin: 0.2rem -6rem;
    padding: 0.2rem 2rem;
  }
  details ul{
    padding: 2rem 3rem;
  }
  details ol{
    padding-left: 3rem;
  }
  details ol ol{
    font-size: 1.4rem;
  }
  @media (max-width: 767px) {
		.markdown-body {
      padding: 15px;
		}
  }
	@media (max-width: 1080px) {
		.markdown-body {
      padding: 20px;
		}
  }