@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #eeebe2;
  --main-color: #080909;
  --caret-color: #644081;
  --sub-color: #a15caf;
  --text-color: #080909;
  --error-color: #e98449;
  --colorful-error-color: #ee0d2b;
  --colorful-error-extra-color: #ff1c73;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

input, button, submit { border:none; } 

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

* {
  @apply select-none;
}

::-moz-selection {
  color: var(--bg-color);
  background: var(--caret-color);
}

::selection {
  color: var(--bg-color);
  background: var(--caret-color);
}

* {

}